html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe Pro', sans-serif;
  color: white;
  background-color: #006CBF;
  font-size: 20px;
  line-height: 1.6;
}

@font-face {
  font-family: 'Segoe Pro Condensed';
  src: url('/SegoePro-CondRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe Pro Condensed';
  src: url('/SegoePro-CondBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe Pro';
  src: url('/SegoePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe Pro';
  src: url('/SegoePro-Semilight.ttf') format('truetype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe Pro';
  src: url('/SegoePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe Pro';
  src: url('/SegoePro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe Pro';
  src: url('/SegoePro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
